* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

}

/* header */

header {

    background-color: white;

    width: 100%;

    min-height: 80px;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.navbar-left > ul{

    display: flex;

    list-style: none;

    margin-left: 20px;

    align-items: center;

}

.navbar-left li a {

    margin-left: 20px;

    text-decoration: none;

    font-weight: bold;

    color: black;

}


.navbar-rigth > ul {

    display: flex;

    list-style: none;

    margin-left: 20px;

    align-items: center;


}

.navbar-rigth li a {

    margin-right: 20px;

    text-decoration: none;

    font-weight: bold;

    color: black;


}

.span-blue {

    background-color: #0061FF;

    padding: 5px;

    color: white;

}
/* fine header */
/* inizio main */
/* prima sezione */
.first-section {

    background-color: #B4D0E7;

    width: 100%;

    min-height: 740px;

    display: flex;

    justify-content: flex-start;

    flex-direction: column;

}

.first-section-h1 {

    display: flex;

    justify-content: center;

    font-size: 3.5rem;

    margin-right: 120px;

}

.first-section-container-text {

    width: 370px;

    height: 400px;

    margin-right: 650px;

    margin-top: 120px;

    display: flex;

    align-self: center;

    flex-direction: column;

    justify-content: space-between;

}

.span-free-trial > a {

    color: white;

    background-color: #0061FF;

    padding: 10px;

    text-decoration: none;


}

.fa-arrow-down {

    font-size: 40px;

}

.first-section-img {

    display: flex;

    align-self: center;

    position: relative;

}

.first-section-img > img {

    position: absolute;

    left: -150px;

    top: -390px;

    width: 770px;

    height: 461px;

    font-weight: bold;

}
/* fine prima sezione */
/* seconda sezione  */
.second-section {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    margin-top: 100px;

    padding-bottom: 500;

}

.second-section-h2 {

    font-size: 2.9rem;

}

.span-rigth {

    margin-left: 30px;

}
/* seconda sezione container fine  */
/* altro container sezione second */
div.div-container {

    display: flex;

    flex-wrap: wrap;

    margin-left: 600px;

}

.div-single, .div-team, .div-business {

    align-self: center;

    margin-top: 50px;

    width: 300px;

    height: 1000px;

    border: 1px solid black;

}

.div-team-2 {

    align-self: flex-end;

    width: 1000px;

    height: 300px;

    margin-top: 50px;

    border: 1px solid black;

}

.div-team {

    margin-left: 50px;

}

.div-business {

    margin-left: 50px;

}

.div-sotto-single {

    text-align: center;

    padding: 10px;

    border-bottom: 1px solid black;

}

.div-sotto-team {

    text-align: center;

    padding: 10px;

    border-bottom: 1px solid black;

}

.div-sotto-business {

    text-align: center;

    padding: 10px;

    border-bottom: 1px solid black;

}

.div-sotto-sotto-single {

    display: flex;

    flex-direction: column;

    flex-wrap: wrap;

    margin-left: 10px;

    margin-top: 30px;


}

.span-utente {

margin-top: 30px;

font-size: 15px;

}

.span-5tb {

    margin-top: 10px;

    font-size: 15px;

}

.span-funzioni {

    margin-top: 10px;

    font-size: 15px;

    

}

.span-prova-gratis {

    background-color: #0061FF;

    margin-top: 40px;

    padding: 10px;

    margin-right: 85px;
}

.span-prova-gratis a {

    text-decoration: none;

    color: white;

    font-size: 15px;

}

.span-oppure {

    margin-top: 10px;

    font-size: 15px;

}

.span-oppure a {

    text-decoration: none;

    color: #0061FF;

}

.punti-salienti {

    margin-top: 80px;

    font-weight: bold;

}

span.span-check {

    margin-top: 10px;

}

span.span-check i {

    color: #0061FF;

    font-weight: bold;

}

.div-sotto-sotto-single-quarto {

    display: flex;

    flex-direction: column;

    

}

.contatti{

    font-weight: bold;

}


.span-prova-gratis-quarto {

    background-color: #0061FF;

    align-self: flex-end;

    margin-top: -95px;

    margin-right: 20px;

    padding: 10px;
}

.span-prova-gratis-quarto a {

    color: white;

    text-decoration: none;

}
/* fine sezione altro container sezione second */

